<footer>
  <div class="footer-wrap">

    <div class="email-subscription">
      <h3>Let's Stay Connected</h3>
      <p>Send me an email via the box below</p>
      <form action="https://formsubmit.co/bngoc4991@gmail.com" method="POST">
        <input type="text" name="name" placeholder="Your Name" required><br>
        <input type="email" name="email" placeholder="Your Email" required><br>
        <textarea name="message" placeholder="Your Message" required></textarea><br>
        <button type="submit">Send</button>
      </form>
    </div>
    <div class="footer-side">
      <p>&copy; 2025 Thi Bao Ngoc (Adoria) Duong.</p>
      <div class="cv-download">
        <a href="/assets/Adoria Duong_CV_DA.pdf" download>
          <button type="button"> <img class="icon-download" src="https://s2.svgbox.net/hero-solid.svg?ic=download&color=ffffff" width="32" height="32"> Download My CV</button>
        </a>
      </div>
    </div>

  </div>
</footer>