<footer>
  <div class="footer-wrap">

    <div class="email-subscription">
      <h3>Let's Stay Connected</h3>
      <p class="guide"><i>*Send me an email via the box below*</i>😸</p>
      <form action="https://formsubmit.co/bngoc4991@gmail.com" method="POST">
        <input type="text" name="name" placeholder="Your Name" required><br>
        <input type="email" name="email" placeholder="Your Email" required><br>
        <textarea name="message" placeholder="Your Message" required></textarea><br>
        <button type="submit">Send</button>
      </form>
    </div>
    <div class="footer-side">
      <div class="contact-links">
        <a href="https://www.linkedin.com/in/thi-bao-ngoc-duong-5947491b7/" target="_blank" rel="noopener noreferrer" style="margin-right: 1em;">
        <img class="icon-linkedin" src="https://s2.svgbox.net/social.svg?ic=linkedin&color=277dce" width="32" height="32"> Thi Bao Ngoc (Adoria) Duong
        </a>
        <a href="mailto:bngoc4991@gmail.com" style="margin-left: 1em;">
          <img class="icon-email" src="https://s2.svgbox.net/hero-solid.svg?ic=mail&color=277dce" width="32" height="32"> bngoc4991@gmail.com
        </a>
      </div>
      <div class="cv-download">
        <a href="/assets/Adoria Duong_CV_DA.pdf" download>
          <button type="button"> <img class="icon-download" src="https://s2.svgbox.net/hero-solid.svg?ic=download&color=ffffff" width="32" height="32"> Download My CV</button>
        </a>
      </div>

      <p>Copyright &copy; 2025 Adoria Duong</p>
    </div>

  </div>
</footer>