/* === Base Typography === */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
  color: #2b2b2b;
  background: #fce5e1;
  background: linear-gradient(90deg, rgba(252, 229, 225, 1) 0%, rgba(231, 255, 214, 1) 100%);
  margin-top: 20px;
  padding: 50px;
}


html {
  scroll-behavior: smooth;
}

.profile-column {
  float: left;
  width: 30%;
}

.content-column {
  float: left;
  width: 70%;
}

.page-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

/* Mobile fallback */
@media (max-width: 768px) {
  .profile-column, .content-column {
    width: 100%;
    float: none;

  }
}

header h1 {
  display: none;
}
/* === Header === */
h1, h2, h3 {
  margin-top: 1rem;
}

h1 {
  font-size: 27px;
}


h2 {
  font-size: 1.8em;
  margin-top: 20px;
}

h3 {
  font-size: 1.5em;
  color: #555;
}



@media (max-width: 768px) {
  .heading-wrap {
    flex-direction: column;
  }

  .heading-profile, .heading{
    flex-basis: 100%;
    align-items: center;
  }



  ul{
  font-size: 0.9em;
  }

  p{
  font-size: 0.9em;
  }

  h1 {
  font-size: 1.9em;
  padding-bottom: 0.3rem;
  }

  h2 {
  font-size: 1.8em;
  margin-top: 20px;
  }

  h3 {
  font-size: 1.5em;
  color: #555;
  }

}
/* === Links and Icons === */
a {
  color: #73966B;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #73966B;
  font-weight: inherit;
}

/* === Layout and Sections === */
ul {
  padding-left: 1.2rem;
}

li {
  margin-bottom: 0.6rem;
}

section {
  margin-bottom: 2.5rem;
}

/* === Highlighted Intro Name === */
.highlight-name {
  color: #BA6323;
  font-weight: 600;
  font-size: 2em;
  
}

/* === Custom Badges / Labels === */
.badge {
  display: inline-block;
  background-color: #f3f3f3;
  border-left: 4px solid #4CAF50;
  padding: 0.3rem 0.8rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: #333;
}

main {
  margin-left: 150px; /* Same width as sidebar */
  padding: 20px;
}

.guide{
  color: gray;
}



/*--------------------------------------------------------- NAV BAR ---------------------------------------------------------------*/
.navbar-wrap{
  position: fixed;    /* Fix it to the viewport */
  top: 0;             /* Align to top */
  left: 0;
  width: 130px; 
  height: 100vh; /*full*/
  z-index: 1000;
  background-color: rgba(202, 169, 162, 0.692);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.navbar-wrap a {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 18px;
  position: relative;  /* needed for ::before */
  font-weight: 500;
  align-content: center;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: none;   /* remove the border-left here */
}

.navbar-wrap a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;             /* where line starts */
  height: 50%;          /* control height */
  width: 1.5px;         /* thickness */
  background-color: transparent; /* default transparent */
  transition: background-color 0.2s ease;
}

.navbar-wrap a:hover {
  transform: scale(1.09);
}

.navbar-wrap a:hover::before {
  background-color: rgba(238, 238, 238, 0.945);
}

@media screen and (max-width: 768px) {
  .navbar-wrap {
    flex-direction: row;
    width: 100%;
    height: 30px;
    top: 0;
    left: 0;
    padding: auto;
    justify-content: space-around;
    align-items: center;
  }

  .navbar-wrap a {
    padding: 10px;
  }

  .icon-highlight {
    width: 24px;
    height: 24px;
  }
  .navbar-wrap a:hover::before {
  background-color: rgba(238, 238, 238, 0);
}
.navbar-wrap a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 1.5px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.navbar-wrap a:hover::after {
  background-color: rgba(238, 238, 238, 0.945);
}
}

/*--------------------------------------------------------- HEADING/HIGHTLIGHT ---------------------------------------------------------------*/

.heading-wrap{
  display: flex;
}


.heading-profile{
  flex-basis: 40%;
}

.heading{
  flex-basis: 60%;
  padding-left: -20px;
}

.heading h1{
  font-weight: 600;
  font-size: 2em;
}



/*--------------------------------------------------------- SKILL ---------------------------------------------------------------*/

.skill-wrap h3{
  margin: 10px 0px;
  font-size: 1rem;
}

.skill-btn {
  display: inline-block;
  padding: 6px 14px;
  margin: 0px 8px 4px 0;
  background-color: #C9A595;  
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: default;
  transition: background-color 0.3s ease;
}
.skill-btn:hover {
  background-color: #E8C7BC; 
}
/*--------------------------------------------------------- EXPERIENCE ---------------------------------------------------------------*/
.exp-wrap{
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap:20px;
}

.exp-box{

  background: #f8f9fa;
  border-radius: 12px;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 420px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px 0 20px;
  margin-bottom: 20px;
  position: relative;
  transition: max-height 0.3s ease;
}

.exp-box h2{
  margin-top: -2px;
  font-size: 25px;
}

.exp-box ul{
  font-size: 14px;
}

.exp-side-info p{
  font-size: 13px;
  color:#484d48;
}

.exp-side-info{
  display: flex;
  align-items: center; 
  justify-content: space-between;
  color: gray;
  margin-top: -25px;
  padding: 0px 3px;
}

/*--------------------------------------------------------- PROJECT ---------------------------------------------------------------*/
.proj-skill-btn {
  display: inline-block;
  padding: 6px 14px;
  margin: 4px 8px 4px 0;
  background-color: #FFFFFF;  
  color: #73966B;
  text-decoration: none;
  border: 2px solid #6b8d64;
  border-radius: 10px;
  font-size: 0.85em;
  font-weight: 600;
  cursor: default;
  transition: background-color 0.3s ease;
}
.proj-skill-btn:hover {
  background-color: #8bb182; 
  color: #FFFFFF;
}

.project-biggest-wrap{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px
}


.project-wrap {
  background: #ffffff;
  /*padding: 16px 20px;*/
  margin: 10px;
  border-radius: 14px;
  color: #333;
  line-height: 1.6;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  overflow: hidden;
  max-height: 12.7em;
  position: relative;
  transition: max-height 0.3s ease;
  /* Important adjustments below */
  width: 420px;           /* Controls size per card */
  flex: 0 1 auto;          /* Prevents stretching */
  display: flex;
  flex-direction: column; /* For internal layout */
}
.project-wrap.expanded {
  max-height: 1000px; /* big enough for full content */
  max-width: 800px;
}

.project-preview{
  font-size: 1.3em;
  color: #555;
  font-weight: 500;
}

.image-frame{
  overflow: hidden;
  width: 650px;
  height: 100px;
}
.image-frame img {
  width: 120%;
  height: 100px;
  object-position: center;  /* show image center when cropped */
  display: block; 
  object-fit: cover;     /* scales image down & crops excess */
  transform-origin: center; /* scale from center */
  transition: transform 0.2s ease-out;
  border-bottom: 1px solid #8d8d8d;
}

.image-frame img:hover{
  transform: scale(1.1);
}
.project-heading{
  margin-top: 10px;
}

.desc{
  font-size: 12px;
  color: #6e6e6e;
  font-weight: 400;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 0px 20px;
  margin-top:-10px;
}

.title{
  margin-top:-10px;
  padding-left:20px;
  padding-right:20px;
  font-size: 18px;
}


.toggle-btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-color: #8aaa83;
  color: white;
  border: none;
  padding: 2px 4px;
  font-size: 0.9em;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.toggle-btn:hover {
  background-color: #abcca2d5;
}

.project-content{
  padding: 0px 20px 16px;

}

/*--------------------------------------------------------- EDUCATION ---------------------------------------------------------------*/

.education-box h2{
  font-size: 20px;
  margin-bottom: -5px;
  
}

.education-box p{
  font-size: 15px;
}

.education-box{
  background-color: white;
  padding: 15px 20px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.education-content{
  margin-bottom: 40px;
}

.course-btn{
  display: inline-block;
  font-size: 12px;
  padding: 10px;
  border: 2px solid #7498ad;
  color: #7498ad;
  font-weight: 500;
  gap:10px;
  border-radius: 10px;
  margin: 4px 8px 4px 0;
  cursor: pointer;
}
/*--------------------------------------------------------- ACHIEVEMENT ---------------------------------------------------------------*/


.achievement{
  margin-bottom: 25px;
  font-weight: 500;
  color: #464545;
}

.achieve-title{
  color: #464545;
}

.achievement:hover .achieve-title{
  color: rgb(91, 124, 173);
  transform-origin: left; /* scale from center */

}
.achievement:hover .credential{
  color: rgb(57, 58, 58);

}

.achieve-content{
  margin: 1em 0;
  padding: 15px;
  padding-right: 5px;
  border-left: 4px solid #7498adb0; /* Your soft green border */
  color: #575757; 
  background-color: white; 
  border-radius: 8px;
  
}

.credential{
  border-radius: 20px;
  border: 1.5px solid gray;
  padding: 7px;
  font-size: 13px;
  margin-left: 10px;
}

.credential a{
  color: #464545;
}


.credential:hover{
  border: 2px solid gray;
  color: rgb(91, 124, 173);
  padding: 6px;
  border-radius: 20px;
}

/*--------------------------------------------------------- FOOTER ---------------------------------------------------------------*/

.footer-wrap{
  margin-top: -50px;
  margin-left: 120px;
  padding: 20px;

}

.footer-wrap p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-wrap a {
  color: #ddd;
  text-decoration: none;
}

.footer-wrap a:hover {
  text-decoration: underline;
  color: #fff;
}

/* Email subscription styles */

.email-subscription h3 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #82ad7c;
}

.email-subscription input,
.email-subscription textarea {
  width: 70%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.email-subscription textarea {
  height:90px;
}

.email-subscription button {
  background-color: #82ad7cef;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.email-subscription button:hover {
  background-color: #9fc79aef;
}

.footer-side{
  margin-top: 30px;
}

/* Responsive design */
@media (max-width: 768px) {
  .footer-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
}

.cv-download{
  padding-bottom: 15px;
}

.cv-download button {
  background-color: #82ad7c;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.cv-download button:hover {
  background-color: #9aca94;
}
/*--------------------------------------------------------- ICONNNNNNNNNNNNNNNNNNNN😿😆🦀 ---------------------------------------------------------------*/
.icon-link{
  margin-bottom: -4px;
  width:18px;
  height:18px;
}

.icon-location{
  margin-bottom: -2px;
  width:18px;
  height:18px;
}

.icon-time{
  margin-bottom:-3px;
  width:18px;
  height:18px;
}

.icon-academic, .icon-company{
  margin-bottom: -2px;
  width:15px;
  height:15px;
}

.icon-personal{
  width:15px;
  height:15px;
  margin-bottom: -1px;
}

.icon-highlight{
  margin-bottom: -5px;
}

.icon-uni, .icon-degree{
  margin-bottom: -2px;
  width:20px;
  height:20px;
}

.icon-download{
  margin-bottom: -4px;
  width:20px;
  height:20px;
}

.icon-linkedin{
  margin-bottom: -2px;
  width:20px;
  height:20px;
}

.icon-email{
  margin-bottom: -4.5px;
  width:25px;
  height:25px;
}


.contact-links{
  padding: 15px 0px;
}

.contact-links a{
  color: rgb(54, 54, 54);
}

.contact-links a:hover{
  color: rgb(91, 124, 173);
  text-decoration: none;
  transform-origin: left; /* scale from center */
  transition: transform 0.1s ease-out;
  transform: scale(1.002);
}
