<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <link class="site-logo" rel="icon" href="/assets/logo.png" sizes="192x192" type="image/png">
   <!-- Open Graph tags -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="Welcome to my personal website and portfolio." />
  <meta property="og:image" content="https://ngocduong17.github.io/assets/adoria-profile.jpg" />
  <meta property="og:url" content="https://ngocduong17.github.io" />
  <meta property="og:type" content="website" />

</head>
<body>

  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>
